<!DOCTYPE html>
<html>
<head>
  <title>CrudClassEx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<a href="/">Home</a>
<% if current_user %>
	<a href="/log-out">Log Out</a>
<% end %>

<%= yield %>

</body>
</html>
